/* .kringle-logo {
    padding: 0
} */

:root {
    --kringle-red: #fe2e2e;
}

nav {
    padding-left: 0;
    padding-top: 0;
}

#kringle-nav {
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 3;
    border-bottom: 1px solid var(--kringle-red);
}

#kringle-nav div {
    padding-left: 0px;
    padding-right: 0px;
}

hr.solid {
    border-top: 1px solid var(--kringle-red);
    margin: 0;
}

.form-control.kringle-search {
    border: 1px solid var(--kringle-red);
}

.form-control.kringle-search:focus {
    border-color: var(--kringle-red);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 46, 46, 0.6);
}