<div id="kringle-nav">
    <div class="row">
        <a class="kringle-logo col-sm-6 nav-el" href="/">
            <img src="assets/images/kringle_logo_draft_2.png" width="200" class="d-inline-block align-top" alt="">
        </a>
        <div class="col-sm-6 my-auto nav-el">
            <button id="sign-in-btn" type="button" class="btn btn-default float-right mr-2">
                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-person-circle mx-auto"
                    fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>

                <span class="ml-2">Sign In</span>
            </button>
            <form class="form-inline float-right">
                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-search" fill="#fe2e2e"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>

                <input id="kringle-search" class="kringle-search form-control mr-sm-2 ml-sm-2" type="search" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
    </div>

</div>