
:root {
    --kringle-red: #fe2e2e;
}

/* Elements */
a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

/* Class definitions */
.add-gift-global {
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color:var(--kringle-red);
    color: white;
    border-radius: 100px;
    padding: 15px;
    user-select: none;
}

#menu {
    position: sticky;
    top: 111px;
    background: white;
}

.menu-component {
    font-weight: bold;
    cursor: pointer;
    user-select: none;

}


.menu-component:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.menu-component.active {
    background-color: rgba(254, 46, 46, 0.2);
    color: rgb(223, 21, 21)
}

.menu-component.active:hover {
    box-shadow: none;
}


/* Large screens */ 
@media only screen and (min-width: 991px) {
    .menu-component span {
        font-size: 25px;
    }
    
    .menu-component svg {
        height: 25px;
        width: 25px;
    }
}


/* Medium */
@media only screen and (max-width: 991px) {
    #menu {
        border-right: 1px solid var(--kringle-red);
        border-left: 1px solid var(--kringle-red);
        border-bottom: 1px solid var(--kringle-red);
        text-align: center;
    }

    .menu-component {
        padding-bottom: 0;
    }

    .menu-component span {
        font-size: 20px;
    }
    
    .menu-component svg {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 575px) {
    #menu {
        border-right: none;
        border-left: none;
    }
}



