
:root {
    --kringle-red: #fe2e2e;
}

/* Elements */
a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* Class definitions */
.add-gift-global {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color:var(--kringle-red);
    color: white;
    border-radius: 100px;
    padding: 15px;
    user-select: none;
}

.menu-component {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.menu-component span {
    margin-top: 10px;
    font-size: 1.6em;
}

.menu-component svg {
    height: 1.8em;
    width: 1.8em;
}

.menu-component:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-component.active {
    background-color: rgba(254, 46, 46, 0.2);
    color: rgb(223, 21, 21)
}

.menu-component.active:hover {
    box-shadow: none;
}


