<div id="profile-page">
    <div class="profile-images">
        <div (click)="changeBannerPicture()" id="profile-banner-container">
            <img id="bannerPictureImage" src="{{user.profile.banner_img_url}}">
            <input type="file" id="bannerPicFileUpload" (change)="bannerImageChange()" hidden>
        </div>
        <div class="shadow" (click)="changeProfilePicture()" id="profile-image-container">
            <img id="profilePictureImage" src="{{user.profile.profile_img_url}}">
            <input type="file" id="profilePicFileUpload" (change)="profileImageChange()" hidden>
        </div>
    </div>
    <div class="user-profile-info">
        <div class="row">
            <div class="col-md-7">
                <div class="user-profile-name-info">
                    <h1>{{user.profile.first_name}} {{user.profile.last_name}}</h1>
                    <span>@{{user.profile.username}}</span>
                    <p>{{user.profile.bio}}</p>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <span><b>{{user.followers.length}}</b> Followers</span>
                        </div>
                        <div class="col-md-4 col-6">
                            <span><b>{{user.following.length}}</b> Following</span>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="row user-profile-name-info h-100">
                    <div class="col-md-5 d-none d-md-block my-auto">
                        <img width="100%" src="https://media1.giphy.com/media/26tPdryj5ftoQOsxy/giphy.gif">
                    </div>
                    <div class="col-md-7 col-12 my-md-auto my-0">
                        <div class="row">
                            <div class="col-md-12 col-6">
                                <span><b>{{gifts_given_num}}</b> Gifts Given!</span>
                            </div>
                            <div class="col-md-12 col-6">
                                <span><b>{{gifts_received_num}}</b> Gifts Received!</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- <div class="profile-gift-info">
        <div class="row">
            <div class="col-md-12">
                <h4>Recent Transactions</h4>
                <div *ngFor="let gift of user.gift_transactions">
                    <app-gift-transaction-profile [gift_transaction]="gift" [user]="user.user_id"></app-gift-transaction-profile>
                </div>
            </div>
        </div>
    </div> -->
</div>