:root {
    --kringle-red: #fe2e2e;
}

.edit-profile-pic-text {
    z-index: 3;
    position: absolute;
}

.interest-list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    text-align: left;
}

.follow-info {
    padding: 5px;
}

.follow-info div {
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.follow-info-follow p {
    background-color: black;
    color:white;
}

.follow-info-gift p {
    color:white;
    background-color: var(--kringle-red) !important;
}

#followers-display {
    width: 100%;
}

#followers_display img {
    width: 10px;
    height: 10px;
}

.follow-image {
    width: 10px;
    height: 10px;
    display: inline-block;
    
}



.gift-info-seperator {
    margin-top: 0px;
    border-right: 1px solid var(--kringle-red);
}

#profile-banner-container {
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 300px;
    top: 0;
}

#profile-banner-container img {
    width: 100%;
    z-index: 1;
}

#profile-banner-container img:hover {
    cursor: pointer;
}

#profile-image-container {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 200px;
    height: 200px;
}

#profile-image-container img {
    z-index: 2;
    width: auto;
    height: 100%;
}

#profile-image-container img:hover {
    cursor: pointer;
    -webkit-filter: brightness(110%);
}

.profile-gift-info {
    text-align: center;
    margin-top: 30px;

}

.profile-images {
    position: relative;
}


.user-profile-info {
    /* text-align: center; */
    margin-top: 70px;
    border-bottom: 1px solid var(--kringle-red)
}

.user-profile-name-info {
    margin-left: 20px;
}