<div id="profile-page">
    <div class="profile-images">
        <div (click)="changeBannerPicture()" id="profile-banner-container">
            <img id="bannerPictureImage" src="{{user.profile.banner_img_url}}">
            <input type="file" id="bannerPicFileUpload" (change)="bannerImageChange()" hidden>
        </div>
        <div class="shadow" (click)="changeProfilePicture()" id="profile-image-container">
            <img id="profilePictureImage" src="{{user.profile.profile_img_url}}">
            <input type="file" id="profilePicFileUpload" (change)="profileImageChange()" hidden>
        </div>
    </div>
    <div class="user-profile-info">
        <div class="row">
            <div class="col-md-7">
                <div class="user-profile-name-info">
                    <h1>{{user.profile.first_name}} {{user.profile.last_name}}</h1>
                    <span>@{{user.profile.username}}</span>
                    <p>{{user.profile.bio}}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row follow-section">
                    <div class="col-md-4 .offset-md-2 follow-info">
                        <div class="follow-info-follow">
                            <p>Followers</p>
                            <span>{{user.followers.length}}</span>  
                        </div>
                        <div class="follow-info-gift">
                            <p>Gifts Given</p>
                            <span>{{gifts_given_num}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 follow-info">
                        <div class="follow-info-follow">
                            <p>Following</p>
                            <span>{{user.following.length}}</span>
                        </div>
                        <div class="follow-info-gift">
                            <p>Gifts Received</p>
                            <span>{{gifts_received_num}}</span>
                        </div>              
                    </div>
                </div>         
            </div>
        </div>
    </div>
    <div class="profile-gift-info">
        <div class="row">
            <div class="col-md-12">
                <h4>Recent Transactions</h4>
                <div *ngFor="let gift of user.gift_transactions">
                    <app-gift-transaction-profile [gift_transaction]="gift" [user]="user.user_id"></app-gift-transaction-profile>
                </div>
            </div>
        </div>
    </div>
</div>