

.delete-icon {
    cursor: pointer;
}



.gift-card {
    padding: 30px;
    background-color: white;
    border-bottom: 1px solid #fe2e2e;
    z-index: -1;
}

.gift-img {
    width: 100%;
    height: auto;
}

.item-info {
    padding: 20px;
}

.item-funcs svg {
    width: 3vmin;
}

.item-funcs {
    float: right;
    margin-left: 1vmin;
}

.item-icons div {
    display: inline-block;
}

.item-icons-right div {
    float: right;
}

span {
    font-size: 2vmin;
}

.sm-icon {
    cursor: pointer;
    margin-right: 1vmin;

}

.sm-icon:hover {
    border-color: black;
    border-width: 1px;
}

.sm-icon img {
    width: 4vmin;
}

.link-icon {
    padding-right: 0px;
    cursor: pointer;
}

.link-icon:hover {
    color: white;
}


@media only screen and (max-width: 600px) {   
    .item-info {
        padding: 5px;
    }
}