

.delete-icon {
    cursor: pointer;
    float:right;
}

.gift-card {
    padding: 30px;
    background-color: white;
    border-bottom: 1px solid #fe2e2e;
    z-index: 1;
    position: relative;
}

.gift-img {
    width: 100%;
    border-radius: 2px;
}

.item-info {
    padding: 20px;
}

.item-icons {
    width: 100%;
    bottom: 0;
    padding: 0px;
    padding-right: 10px;
    position: absolute;
}

.item-icons div {
    display: inline-block;
}

.sm-icon {
    cursor: pointer;
}

.sm-icon:hover {
    border-color: black;
    border-width: 1px;
}

.link-icon {
    padding-right: 0px;
    cursor: pointer;
}

.link-icon:hover {
    color: white;
}



/* Large screens */ 
@media only screen and (min-width: 991px) {
    span {
        font-size: 22px;
    }
    .sm-icon img {
        width: 40px;
    }
    .item-funcs svg {
        width: 30px;
    } 
}


/* Medium */
@media only screen and (max-width: 991px) {
    span {
        font-size: 18px;
    }
    .sm-icon img {
        width: 30px;
    }
    .item-funcs svg {
        width: 26px;
    } 
}

@media only screen and (max-width: 600px) {
    .item-info {
        padding: 5px;
    }

    span {
        font-size: 14px;
    }
    .sm-icon img {
        width: 22px;
    }
    .item-funcs svg {
        width: 20px;
    }

    .gift-card {
        padding: 15px;
        background-color: white;
        border-bottom: 1px solid #fe2e2e;
    }
}