
<div class="row">
    <div class="app-menu col-sm-3">
        <app-menu (activePage)="setActivePage($event)"></app-menu>
    </div>
    <div class="app-body col-sm-9">
        <div *ngIf="activePage === 'Gifts'" id="gift-list" class="scroll-prop">
            <app-gift-list-navbar [gifts]="gift_list" (filteredGifts)="filterGifts($event)"></app-gift-list-navbar>
            <app-gift-list [gifts]="gift_list_filter"></app-gift-list>
        </div>
        <div *ngIf="activePage === 'Profile'" id="profile-page">
          <app-profile-page></app-profile-page>
        </div>
        <div *ngIf="activePage === 'Feed'" id="feed-page">
          <app-feed-page></app-feed-page>
        </div>
    </div>
</div>

<!-- Add Gift Modal -->
<div class="modal fade" id="addGiftModal" tabindex="-1" role="dialog" aria-labelledby="addGiftModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header add-gift-modal-header">
        <h5 class="modal-title" id="addGiftModal">Add Gift</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body add-gift-modal-body">
        <form>
          <div class="form-group">
            <label for="itemURL">Item URL</label>
            <input id="itemURL" type="text" class="form-control kringle-search" required>
            <span id="itemURLMessage" class="formRequireMessage">Item URL required</span>
          </div>
          <!-- <div class="form-group">
            <label for="test">Item URL</label>
            <input id="test" type="text" class="form-control kringle-search">
          </div>            -->
        </form>
      </div>
      <div class="modal-footer add-gift-modal-footer">
        <button (click)="addGiftToList()" type="button" class="btn kringle-button">Add Gift</button>
      </div>
    </div>
  </div>
</div>




<div id="addGiftSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Gift Added!</strong>
    <small class="text-muted">just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{newGift.name | truncate}} added!
  </div>
</div>

<!-- <div id="addGiftSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Gift Added!</strong>
    <small class="text-muted">just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{newGift.name}} added!
  </div>
</div> -->