:root {
    --kringle-red: #fe2e2e;
}

.app-menu {
    border-top: 1px solid var(--kringle-red);
    margin-top: 0px;
    padding-top: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.app-body {
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid var(--kringle-red);
    border-top: 1px solid var(--kringle-red);
    border-left: 1px solid var(--kringle-red);
}

.formRequireMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.scroll-prop {
    height: 730px;
    overflow-y: scroll;
}

.toast {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #adf5b6;
}
